body{
    background-color: #25272D;
    color:lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-size: 300%;    
}

.top{
    color: #F18F01;
    text-align: center;
}

.top a{
    color: #F18F01;
    text-decoration: underline;
}

.content{

}
